@model Yayinevleri
@{
    ViewData["Title"] = "Details";
}

<div>
<p>@Model.Id</p>
<p>@Model.Ad</p>
<p>@Model.Adres</p>
<p>@Model.Tel</p>


</div>

<a class="btn btn-success" asp-action="Index">Kitap Türleri</a>