<!DOCTYPE html>
<html>
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <title> </title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand ms-5">Navbar</a>
                <form class="d-flex">
                    
                    
                    <span class="yuvarlak">ı</span>
                    <span class="yuvarlak">m</span>
                </form>
            </div>
        </nav>
    </header>

    @RenderBody()

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/script.js"></script>

</body>
</html>