@{
    ViewData["Title"] = "Home Page";
}


<body id="bod" >

    <div class="text-center">
        <h1 class="display-4">¯\_(ツ)_/¯ Kütüphanemize Hoş Geldiniz ¯\_(ツ)_/¯</h1>
        <p> <a href="https://thumbs.gfycat.com/UnitedHonoredFrigatebird-max-1mb.gif">Ücretsiz Çay İçin Tıklayınız.</a>.</p>
        <span>Parti Mode:</span> <button onclick="AcFunc()">On</button> <button onclick="KapaFunc()">Of</button>
    </div>
    
</body>

