@{ 

    Layout = "_Layout";
    ViewBag.Title = "Anasayfa";
} 

<section class=" ">
    <h1>HOŞ GELDİNİZ!</h1>
    <h4>Web 6 Grubu Projesi</h4>
    <p>Bu proje MVC yalaşımı ile hazırlanmıştır.</p>
</section>
