<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <title>@ViewBag.Mesaj  MVC_Proje1</title>
    @*<style>
        .nav-bar-top {
            background-color: #2c3e50;
        }

        a:hover {
            background-color: #c0392b;
            color: black !important;
            border-radius: 5%;
        }

        section {
            background-color: #2c3e50;
        }

        .my-footer {
            background-color: #2c3e50;
            text-align: center;
            color: white;
        }
    </style>*@

</head>
<body>
    <!-- header başlangıcı -->
    <header style="height:15px;">
        <nav class="navbar navbar-expand-lg nav-bar-top fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand text-white fs-3 bg-danger px-3 rounded" href="#">Wissen Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white fs-4" aria-current="page" href="Home">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-4" href="Hakkimizda">Hakkımızda</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white fs-4" href="Dersler" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                               Dersler
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item " href="Dersler">HTML</a></li>
                                <li><a class="dropdown-item " href="#">CSS </a></li>
                                <li><a class="dropdown-item " href="#">Bootsrap </a></li>
                                <li><a class="dropdown-item " href="#">JavaScript </a></li>
                                <li><a class="dropdown-item " href="#">Jquery </a></li>
                                <li><a class="dropdown-item " href="#">React </a></li>



                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item " href="#">C# Temelleri</a></li>
                                <li><a class="dropdown-item " href="#">ASP.NET Core</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-4" href="Iletisim">İletişim</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Ara..." aria-label="Search">
                        <button class="btn btn-outline-warning" type="submit">Ara</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- header bitişi -->
    <!-- section başlangıcı -->
    <section class="mt-5">
        @RenderBody();

    </section>
   
    <!-- section bitişi -->
    <!-- footer başlangıç -->
    <footer>
        <div class="container-fluid my-footer">
            <p>o_o Bu site Mikail Ayan tarafından tasarlanmıştır...!!!!!!!!!!! o_o</p>
        </div>
    </footer>
    <!-- footer bitiş -->
    <!-- scripts -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>  
    <script src="~/js/script.js"></script>
    <!-- scripts -->
</body>
</html>