@model Kitaplar
@{
    ViewData["Title"] = "Edit";
}
<h5>@Model.Ad - Kitap Düzenleme Sayfası</h5>
<hr>
<form asp-action="Edit">
    <div class="row">
        <!-- Bu kolonda Isbn,Ad,SayfaSayisi,Stok -->
        <div class="col-md-4">
            <div class="mb-3">
                <label asp-for="Isbn" class="control-label">Isbn</label>
                <input asp-for="Isbn" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Ad" class="control-label">Kitap Adı</label>
                <input asp-for="Ad" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="SayfaSayisi" class="control-label">Sayfa Sayısı</label>
                <input asp-for="SayfaSayisi" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Stok" class="control-label">Stok Miktarı</label>
                <input asp-for="Stok" type="text" class="form-control">
            </div>
        </div>
        <!-- Bu kolonda Tür,Yazar,Yayinevi -->
        <div class="col-md-4">
            <div class="mb-3">
                <label asp-for="TurId" class="control-label">Kitap Türü</label>
                <select asp-for="TurId" class="form-select form-control" asp-items="ViewBag.Tur"></select>
            </div>
             <div class="mb-3">
                <label asp-for="YazarId" class="control-label">Yazar</label>
                <select asp-for="YazarId" class="form-select form-control" asp-items="ViewBag.Yazar"></select>
            </div>
             <div class="mb-3">
                <label asp-for="YayinEviId" class="control-label">Yayınevi</label>
                <select asp-for="YayinEviId" class="form-select form-control" asp-items="ViewBag.YayinEvi"></select>
            </div>
            <div class="mb-3">
                <button asp-action="Edit" type="submit" class="btn btn-succes">:D</button>
            </div>
        </div>

    </div>
</form>