@model EF_Core_MVC_Code.Models.Turler
@{
    ViewData["Title"] = "Details";
}
<h1 class="display-3">Kitap Türü Sil</h1>

<div>
    <h4>Kitap Türü</h4>
    <h5>Tür ID:</h5>
    <p>@Model.Id</p>
    <h5>Kitap Türü</h5>
    <p>@Model.TurAd</p>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id">
    <input type="submit" value="Kitap Türünü Sil" class="btn btn-sm btn-danger">
</form>

<a asp-action="index">Kitap Türlerine Dön</a>